<br/>
<table>
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" style="border-radius: 43px;" bgcolor="#335eea"><a href="{{ url }}" target="_blank" style="font-size: 16px; font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif; color: #ffffff; text-decoration: none; text-decoration: none;border-radius: 43px; padding: 12px 36px; border: 1px solid #335eea; display: inline-block;">{{ text }}</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br/>
