---
layout: default
---
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">

          <div class="content">
            <!-- Heading -->
            <h1 class="has-text-centered">
              Sign up
            </h1>

            <!-- Text -->
            <p class="has-text-centered subtitle">

            </p>
          </div>

        <!-- Form -->
        <form action="" method="POST" class="mb-40">

          <!-- Email -->
          <div class="field">
            <label for="email" class="label has-text-weight-normal">
              Email address
            </label>
            <div class="control">
              <input type="email" class="input" id="email" name="email" placeholder="name@address.com" autocomplete="username email" required>
            </div>
            <p id="error-email" class="help is-danger">{{ error.email }}</p>
          </div>

          {% if signup_show_username %}
          <!-- Username -->
          <div class="field">
            <label for="username" class="label has-text-weight-normal">
              Username
            </label>
            <div class="control">
              <input type="username" class="input" id="username" name="username" placeholder="mary123" autocomplete="off" required>
            </div>
            <p id="error-username" class="help is-danger">{{ error.username }}</p>
          </div>
          {% endif %}

          <!-- Password -->
          <div class="field">
            <label for="password" class="label has-text-weight-normal">
              Password
            </label>
            <div class="control has-icons-right">
              <input type="password" class="input" id="password" name="password" placeholder="Enter your password" minlength="8" autocomplete="new-password" required>
              <span class="icon is-small is-right" style="pointer-events: auto" onclick="const p = document.getElementById('password'); const isPass = p.type === 'password'; p.type = isPass ? 'text' : 'password'; document.getElementById('fa-eye').classList.toggle(isPass ? 'fa-eye-slash' : 'fa-eye');">
                <i id="fa-eye" class="fa fa-eye"></i>
              </span>
            </div>
            <p id="error-password" class="help is-danger">{{ error.password }}</p>
          </div>

          <!-- Submit -->
          <input type="hidden" name="_csrf" value="{{ website.csrf_token }}">
          <div class="field">
            <div class="control">
              <button class="button is-primary is-fullwidth" type="submit">Sign up</button>
            </div>
          </div>

          {% if signup_show_google or signup_show_azure or signup_show_miracl %}
          <p class="has-text-centered mt-20 mb-20">or</p>
          {% endif %}

          {% if signup_show_google %}
          <div class="field">
            <div class="control">
              <a id="google-signin" class="button is-fullwidth is-justify-content-start" href="#">
                <span class="icon is-large">
                  <img src="/default/assets/img/logo/google.svg"/>
                </span>
                <span style="width: 100%">
                  Sign up with Google
                </span>
              </a>
            </div>
            <p id="error-google" class="help is-danger">{{ error.google }}</p>
          </div>
          {% endif %}
          {% if signup_show_azure %}
          <div class="field">
            <div class="control">
              <a id="azure-signin" class="button is-fullwidth is-justify-content-start" href="/auth/azure">
                <span class="icon is-large">
                  <img src="/default/assets/img/logo/microsoft.svg"/>
                </span>
                <span style="width: 100%">
                  Sign up with Microsoft
                </span>
              </a>
            </div>
            <p id="error-azure" class="help is-danger">{{ error.azure }}</p>
          </div>
          {% endif %}
          {% if signup_show_miracl %}
          <div class="field">
            <div class="control">
              <a id="miracl-signin" class="button is-fullwidth is-justify-content-start" href="/auth/miracl">
                <span class="icon is-large">
                  <img src="/default/assets/img/logo/miracl.svg"/>
                </span>
                <span style="width: 100%">
                  Sign in with Miracl
                </span>
              </a>
            </div>
            <p id="error-miracl" class="help is-danger">{{ error.miracl }}</p>
          </div>
          {% endif %}
        </form>

        <!-- Text -->
        <p class="is-size-7 has-text-centered has-text-grey">
          Already have an account? <a href="/login{% if next_url %}?next={{ website.next_url }}{% endif %}">Log in</a>.
        </p>

      </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
