<!DOCTYPE html><html><head><title>{{ title }}</title>  <link rel="stylesheet" href="{{ root_assets }}/assets/style.css"></head><body>

    <h1>Error</h1>

    {% if error != null %}
    <div>{{ error }}</div>
    {% endif %}

</body></html>
