<!DOCTYPE html><html><head><title>{{ title }}</title>  <link rel="stylesheet" href="{{ root_assets }}/assets/style.css"></head><body>

<h1>Reset password</h1>

<div>
    {{ alert.text }}
</div>

<form action="" method="POST">
    <input type="email" id="email" name="email" placeholder="name@address.com" required>
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <input type="submit" />
</form>

</body>
</html>