<!DOCTYPE html><html><head><title>{{ title }}</title>  <link rel="stylesheet" href="{{ root_assets }}/assets/style.css"></head><body>

<h1>Reset password</h1>

<form method="POST" action="">
    <input type="password" id="password" name="password" placeholder="Enter your password" minlength="8" required>
    <input type="password" id="password-confirm" name="password-confirm" placeholder="Confirm your password" minlength="8" required>
    <input type="hidden" name="token" value="{{ token }}">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <input type="submit" />
</form>

</body>
</html>