Reset password

<form action="" method="POST">
    <input type="email" id="email" name="email" placeholder="name@address.com" required>
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <input type="submit" />
</form>