<!DOCTYPE html><html><head><title>{{ title }}</title>  <link rel="stylesheet" href="{{ root_assets }}/assets/style.css"></head><body>

<h1>Login</h1>

<form action="" method="POST">
    <input type="email" id="email" name="email" value="name@address.com" required>
    <input type="password" id="password" name="password" value="Enter your password" minlength="8" required>
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <input type="submit" />
</form>

<div><a href="/reset-password">Forgot your password?</a></div>

</body>
</html>