<div>
<h1>Payment methods</h1>

<ul>
{% for method in account.payments_methods %}
  <li>xxxx-xxxx-xxxx-{{ method.card.last4 }} expiring on {{ method.card.exp_month }}/{{ method.card.exp_year }}</li>
{% endfor %}
</ul>
</div>



<h2>Add a new method</h2>

<form action="/user/billing/payment" method="POST">

    <!-- Name -->
    <input name="paymentName" id="modalPaymentName" type="text" value="First Last">

    <!-- Card info -->
    <input name="number" id="modalPaymentNumbber" type="number" value="4242 4242 4242 4242">
    <input  name="exp_month" id="modalPaymentDate" type="text" value="11">
    <input  name="exp_year" id="modalPaymentDate" type="text" value="2023">
    <input  name="cvc" id="modalPaymentDate" type="text" value="123">

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <input type="submit" />
  </form>