Reset password

<form method="POST" action="/reset-password-finish">
    <input type="password" id="password" name="password" placeholder="Enter your password" minlength="8" required>
    <input type="password" id="confirmation" name="confirmation" placeholder="Confirm your password" minlength="8" required>
    <input type="hidden" name="token" value="{{ token }}">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <input type="submit" />
</form>