<footer class="footer">
  <div class="container is-max-desktop">
    {% if made_with_love %}
    <p class="has-text-centered">{{ website.made_with_love }}</a></p>
    {% endif %}
    <div class="columns content">
      <div class="column is-one-quarter">
        <div class="footer-logo">
          <h3 class="is-size-4 has-text-weight-semibold">{{ website.name }}</h3>
          <!--img src="{{ root }}/img/logo/logo.svg"-->
        </div>
        <p>&copy; 2021 {{ website.legal_company_name }}</p>
        <div class="level is-mobile">
        <div class="level-left">
          {% if social_github %}
          <a class="level-item has-text-grey" href="{{ website.social_github }}">
            <span class="icon">
              <i class="fab fa-lg fa-github"></i>
            </span>
          </a>
          {% endif %}
          {% if social_twitter %}
          <a class="level-item has-text-grey" href="{{ website.social_twitter }}">
            <span class="icon">
              <i class="fab fa-lg fa-twitter"></i>
            </span>
          </a>
          {% endif %}
          {% if social_linkedin %}
          <a class="level-item has-text-grey" href="{{ website.social_linkedin }}">
            <span class="icon">
              <i class="fab fa-lg fa-linkedin"></i>
            </span>
          </a>
          {% endif %}
          {% for item in socials %}
          <a class="level-item has-text-grey" href="{{ item.url }}">
            <span class="icon">
              <i class="fab fa-lg fa-{{ item.name }}"></i>
            </span>
          </a>
          {% endfor %}
        </div>
        </div>

      </div>
      <div class="column">
        <div class="columns mt-0">

          {% for menu in footer %}
          <div class="column pt-0">
            <div class="level-right">
              <div>
                <div class="footer-header">
                  <h3 class="is-size-5 has-text-weight-normal is-uppercase" style="line-height: 1.75rem;margin-bottom: 1rem">{{ menu.title }}</h3>
                </div>
                <ul class="is-unstyled">
                  {% for item in menu.links %}
                  <li><a class="has-text-grey" href="{{ item.url }}">{{ item.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}

          <div class="column pt-0">
          <div class="level-right">
          <div>
            <div class="footer-header">
              <h3 class="is-size-5 has-text-weight-normal is-uppercase" style="line-height: 1.75rem;margin-bottom: 1rem">Legal</h3>
            </div>
            <ul class="is-unstyled">
              <li><a class="has-text-grey" href="/privacy-policy">Privacy policy</a></li>
              <li><a class="has-text-grey" href="/terms-of-service">Terms of service</a></li>
            </ul>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
