<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-logo">
          <h2 class="is-size-4 has-text-weight-semibold">{{ website.name }}</h2>
          <!--img src="{{ root }}/img/logo/logo.svg"-->
        </div>
        &copy; 2020 {{ website.legal_name }}
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Legal</h3>
          </div>
          <ul class="link-list">
            <li><a href="/privacy-policy">Privacy policy</a></li>
            <li><a href="/terms-of-service">Terms of service</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Follow Us</h3>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" href="{{ website.social_github }}">
                  <span class="icon">
                    <ion-icon name="logo-github" size="large"></ion-icon>
                  </span>
                </a>
                <a class="level-item" href="{{ website.social_twitter }}">
                  <span class="icon">
                    <ion-icon name="logo-twitter" size="large"></ion-icon>
                  </span>
                </a>
                <a class="level-item" href="{{ website.social_linkedin }}">
                  <span class="icon">
                    <ion-icon name="logo-linkedin" size="large"></ion-icon>
                  </span>
                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
