<div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <h2 class="is-size-4 has-text-primary has-text-weight-semibold">{{ website.name }}</h2>
      <!--img src="{{ root }}/img/logo/logo.svg" alt="" width="112" height="28"-->
    </a>
    <div class="navbar-burger" @click="openMobileMenu()">
      <span class="menu-toggle">
        <span class="icon-box-toggle" :class="{
            'active': mobileOpen,
            '': !mobileOpen
          }">
          <span class="rotate">
            <i class="icon-line-top"></i>
            <i class="icon-line-center"></i>
            <i class="icon-line-bottom"></i>
          </span>
        </span>
    </div>
  </div>
  <div id="navbar-menu" class="navbar-menu is-static" :class="{
      'is-active': mobileOpen,
      '': !mobileOpen
    }">
    <div class="navbar-end">
      <a href="#product" class="navbar-item is-primary">
        Product
      </a>
      <a href="#pricing" class="navbar-item is-primary">
        Pricing
      </a>
      <a href="#faq" class="navbar-item is-primary">
        FAQ
      </a>
    </div>
    <div class="navbar-end">
      {% if user_email != "" %}
      <a href="/user" class="navbar-item is-primary">
        Account
      </a>
      <a href="{{ website.saas_redirect_url }}" class="navbar-item is-primary">
        Dashboard <ion-icon name="arrow-forward-outline" size="small"></ion-icon>
      </a>
      {% else %}
      <a href="/login" class="navbar-item is-primary">
        Log in
      </a>
      <a href="/signup" class="navbar-item">
        <span class="button signup-button primary-btn raised">
          Sign up
        </span>
      </a>
      {% endif %}
    </div>
  </div>
</div>