    <form action="" id="payment-method" method="POST" class="mb-20">

      <div class="field">
        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>
      </div>

      <p id="error-card-number" class="help is-danger mb-0">{{ error.card }}</p>

      <br/>
      <input type="hidden" name="_csrf" value="{{ website.csrf_token }}">
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Add card</button>
        </div>
      </div>
    </form>


  </form>
