    {% if plans[0].price_year > 0 or plans[1].price_year > 0 %}
    <div class="content has-text-centered">
      <div class="field">
        <span>Monthly&nbsp;</span>
        <input id="priceSwitch" name="priceSwitch" type="checkbox" class="switch is-rounded" checked="checked" x-data="{checked: true}" @click="$dispatch('pricing-recount', { month: checked })" x-model="checked">
        <label for="priceSwitch">Annually</label>
      </div>
    </div>
    {% endif %}

    <div class="pricing-wrap columns pl-6 pr-6">
    {% for item in plans %}
      <div class="feature-card is-pricing has-text-centered column">
        <h3 class="tag is-primary is-light is-uppercase">{{ item.name }}</h3>
        <div class="price has-text-weight-normal">
          {% if item.price_text %}
            {{ item.price_text }}
          {% else %}
            <span class="pricing-currency">$ </span><span id="pricing{{ item.name }}" class="pricing-count"
              x-data="{ price_year: {{ item.price_year }}, price_month: {{ item.price_month }}, price_decimals: {{ item.price_decimals }} }" x-on:pricing-recount.window="window.pricingUpdate($el, $event.detail.month ? price_month : price_year, price_decimals)">{{ item.price_year }}</span><span class="pricing-monthly"> /mo</span>
          {% endif %}
        </div>

        <ul class="pricing-features has-text-left">
        {% for feature in item.features %}
          <li>
            <span class="tag is-success is-light is-rounded">
              <span class="icon is-small">
                <i class="fa fa-check"></i>
              </span>
            </span>
            {{website.plan_feature}}
          </li>
        {% endfor %}
        </ul>

        {% if item.primary %}
        <a id={{ item.id }} class="button is-fullwidth is-medium is-primary plan-purchase-button" href="{{{ item.button_href }}}">
        {% else %}
        <a id={{ item.id }} class="button is-fullwidth is-medium is-primary is-light plan-purchase-button" href="{{{ item.button_href }}}">
        {% endif %}
          {{ item.button }}
        </a>
      </div>
    {% endfor %}
    </div>
