<div class="card mb-5">
  <div class="card-content content">

  	<div class="level">
      <div class="level-left">
        <h3 class="has-text-weight-normal">Current Plan</h3>
      </div>
      <div class="level-right">
        <h3 class="has-text-weight-normal">$2.99/mo</h3>
      </div>
    </div>

    <div class="level">
      <div class="level-left">
        <div>
          <h3 class="has-text-weight-normal mb-0">Starter</h3>
          <p class="has-text-grey">Next payment on 03/03/2021</p>
        </div>
      </div>
      <div class="level-right">
        <a class="button is-primary">
          Change plan
        </a>
      </div>
    </div>

    <ul class="pricing-features has-text-left" style="list-style-type: none; margin: 0">
      <li>
        <span class="tag is-success is-light is-rounded">
          <ion-icon name="checkmark-outline"></ion-icon>
        </span>
        3 articles
      </li>
      <li>
        <span class="tag is-success is-light is-rounded">
          <ion-icon name="checkmark-outline"></ion-icon>
        </span>
        3 images/article
      </li>
      <li>
        <span class="tag is-success is-light is-rounded">
          <ion-icon name="checkmark-outline"></ion-icon>
        </span>
        Unlimited shares
      </li>

    {% for feature in xfeatures %}
      <li>
        <span class="tag is-success is-light is-rounded">
          <ion-icon name="checkmark-outline"></ion-icon>
        </span>
        {{ feature.name }}
      </li>
    {% endfor %}
    </ul>

  </div>
</div>

<div class="card mb-5">
  <div class="card-content content">

    <div class="level">
      <div class="level-left">
        <h3 class="has-text-weight-normal mb-0">Payment Methods</h3>
      </div>
      <div class="level-right">
        <a class="button is-primary">
          Add new
        </a>
      </div>
    </div>

    <ul style="list-style-type: none; margin: 0">
      <li class="mb-5">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <figure class="image ml-0 mr-4">
                <img src="{{ root }}/assets/img/icons/payment-methods/visa.svg" alt="Visa" style="max-width: 40px;">
              </figure>
            </div>
            <div class="level-item">
              <div>
                <p class="mb-0">Visa ending in 1234</p>
                <p class="has-text-grey">Expires 03/2024</p>
              </div>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <span class="tag is-rounded">
                Default
              </span>
            </div>
          </div>
        </div>
      </li>
      <li class="mb-5">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <figure class="image ml-0 mr-4">
                <img src="{{ root }}/assets/img/icons/payment-methods/mastercard.svg" alt="Mastercard" style="max-width: 40px;">
              </figure>
            </div>
            <div class="level-item">
              <div>
                <p class="mb-0">Mastercard ending in 1234</p>
                <p class="has-text-grey">Expires 03/2024</p>
              </div>
            </div>
          </div>
          <div class="level-right">
          </div>
        </div>
      </li>


    {% for item in xpayments %}
      <li class="mb-5">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <img class="img-fluid" src="{{ root }}/assets/img/icons/payment-methods/mastercard.svg" alt="Mastercard" style="max-width: 40px;">
            </div>
            <div class="level-item">
              <div>
                <p class="mb-0">Mastercard ending in 1234</p>
                <p class="has-text-grey">Expires 03/2024</p>
              </div>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <span>...</span>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>

  </div>
</div>

{% if false %}
<div class="card">
  <div class="card-content content">

    <h3 class="has-text-weight-normal">Invoices</h3><br/>

  </div>
</div>
{% endif %}
